<div (click)=" startStatus ? start():null" *ngIf='showStart' class="starterHead">Click anywhere to construct initial
  panel..</div>
<div (click)=" startStatus ? start():null">
  <div class="buttonContainer" *ngIf='!showStart && borderStatus'>
    <button mat-button class="btn1" (click)="finalDesign()">Final Design</button>
    <button mat-button class="btn2" (click)="reset()">Reset</button>
  </div>
  <div class="buttonContainer" *ngIf='!showStart && !borderStatus'><button mat-button class="btn1"
      (click)="revert()">Back to design</button></div>

  <div class="mainContainer">
    <div class="mainBox">
      <div class="innerGameContainer ">
        <mat-grid-list [cols]="cols" class="tile" rowHeight="25px" [style.width.px]="width1">
          <mat-grid-tile *ngFor="let tile of gamePoint  ;let i = index" class=" hovers "
            (click)=" borderStatus ? add(tile):null"
            [ngStyle]="{'background-color' :(clickedTiles|find:tile)? '#808080' : 'white'}"
            [ngClass]="borderStatus ? 'innerTile' : 'innerTile2'">
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>